TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAACcONgEAAAAAdeQ9cP70%2F6wU7Kor9HWrUl2he%2BA%3DZYt1GaCG1dfdDPX3U09F1RKS9bY29kf6QX7uyH8Aknu0ClWXvF
TWITTER_API_KEY=hxxsUb0vERHdDZU5kH8kwZbLw
TWITTER_API_SECRET_KEY=NrL5K095Y9EoohNwkEdbFLl9Jl53A7emCaCvNykPcWkdgLLuEM
LOG_LEVEL=INFO
